* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #ffa801;
    --secondary-color: #485460;
    --tertiary-color: #ffd32a;
}

body {
    color: #d2dae2;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 25px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    color: var(--primary-color);
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 24px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    color: var(--tertiary-color);
    text-decoration: none;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/122395-bright-orange-watercolour-grunge-texture-background.jpg");
    background-size: cover;
    background-position: center;
}

.sections {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
}

.sections h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
}

.me-picture {
    display: inline;
    vertical-align: top;
    flex: 1 12%;
    margin-top: 1.5vw;
}

.me-picture img {
    max-width: 200%;
}

.section-text {
    display: inline;
    margin-top: 20px;
    flex: 12;
    margin-left: 20vw;
}

.section-text p {
    color: var(--secondary-color);
    font-size: 1.5vw;
}

.sections-contact {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
}

.sections-contact h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
}

.contact-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-top: 3vw;
}

.contact-info a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5vw;
}

.flex-container {
    display: flex;
}

.work-images {
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-images img {
    margin: 50px;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .me-picture img {
        max-width: 100%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .section-text {
        padding: 0, 0, 0, 0;
    }

    .section-text p {
        display: flex;
        align-items: center;
        font-size: 2vw;
    }

    .work-images {
        max-width: 50%;
    }

    .contact-info a {
        display: flex;
        flex-direction: column;
        flex: wrap;
        font-size: 4vw;
    }
}


